<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Estrenos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="lastMovies">
  </app-slideshow-backdrop>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="lastMovies">
  </app-slideshow-poster>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="popular">
  </app-slideshow-poster>

</ion-content>
